In [5]:
import os

# List files in the directory
print(os.listdir(r'D:\studies girl\certificate'))

['adultdata.csv', 'data.csv', 'data.xlsx', 'datas.csv', 'epa-sea-level.csv', 'fcc-forum-pageviews.csv', 'sea_level.csv']

In [6]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r'D:\studies girl\certificate\adultdata.csv')

# Display the first few rows of the dataframe
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
# Calculate the number of people of each race
race_counts = df['race'].value_counts()

# Display the result
race_counts

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [8]:
# Calculate the average age of men
average_age_men = df[df['sex'] == 'Male']['age'].mean()

# Display the result
round(average_age_men, 1)

39.4

In [9]:
# Calculate the percentage of people with a Bachelor's degree
bachelor_percentage = (df['education'] == 'Bachelors').mean() * 100

# Display the result
round(bachelor_percentage, 1)

16.4

In [10]:
# Define advanced education levels
advanced_education = ['Bachelors', 'Masters', 'Doctorate']

# Calculate the percentage of people with advanced education earning >50K
higher_edu_percentage = (df['education'].isin(advanced_education) & (df['salary'] == '>50K')).mean() * 100

# Display the result
round(higher_edu_percentage, 1)

10.7

In [11]:
# Calculate the percentage of people without advanced education earning >50K
non_advanced_edu_percentage = (~df['education'].isin(advanced_education) & (df['salary'] == '>50K')).mean() * 100

# Display the result
round(non_advanced_edu_percentage, 1)

13.4

In [12]:
# Calculate the minimum number of hours worked per week
min_hours_per_week = df['hours-per-week'].min()

# Display the result
min_hours_per_week

1

In [13]:
# Calculate the percentage of people who work the minimum number of hours per week and earn >50K
min_hours_percentage = (df[df['hours-per-week'] == min_hours_per_week]['salary'] == '>50K').mean() * 100

# Display the result
round(min_hours_percentage, 1)

10.0

In [14]:
# Calculate the percentage of people earning >50K by country
country_salary_percentage = df[df['salary'] == '>50K'].groupby('native-country').size() / df.groupby('native-country').size() * 100

# Identify the country with the highest percentage
highest_percentage_country = country_salary_percentage.idxmax()
highest_percentage = country_salary_percentage.max()

# Display the result
highest_percentage_country, round(highest_percentage, 1)

('Iran', 41.9)

In [15]:
# Filter data for people in India earning >50K
india_high_salary = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

# Find the most popular occupation
most_popular_occupation = india_high_salary['occupation'].mode()[0]

# Display the result
most_popular_occupation

'Prof-specialty'